<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="true" startupTimeLimit="3600"/>
  
    <rewrite>
          <rules>
            <rule name="Redirect http://tomataboard.com to http://www.tomataboard.com HTTP" patternSyntax="ECMAScript" stopProcessing="true">
              <match url=".*" ignoreCase="true"></match>
                <conditions>
                  <add input="{HTTP_HOST}" pattern="^tomataboard\.com$"></add>
                  <add input="{HTTPS}" pattern="off"></add>
                </conditions>
              <action type="Redirect" url="http://www.tomataboard.com/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
            </rule>
          </rules>
    </rewrite>

  </system.webServer>
</configuration>
