@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tomataboard</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/weather-icons/css/weather-icons.css" rel="stylesheet" />
    <link href="~/lib/icomoon/style.css" rel="stylesheet" />
    <link href="~/lib/ng-sortable/dist/ng-sortable.min.css" rel="stylesheet" />

    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet"/>
        <link href="~/app/settings/settings.css" rel="stylesheet"/>
        <link href="~/app/todo/todo.css" rel="stylesheet"/>
        <link href="~/app/countdown/countdown.css" rel="stylesheet"/>
    </environment>

    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>

</head>

<body ng-app="dashboard-app" ng-controller="dashboardController as vm">
    <div id="loader" ng-show="vm.isBusy" class="vertical-center text-center"><i class="fa fa-spinner fa-spin"></i>&nbsp;Loading...</div>
    <div id="dashboard" ng-cloak ng-show="!vm.isBusy" ng-class="{dashboardFade: vm.startFade}">
        <div id="photo-background" ng-show="vm.settings.showBackgroundPhoto" ng-style="{'background-image': 'url(' + vm.dashboard.photo.url + ') '}"></div>
        <header id="header" class="container-fluid navbar-fixed-top ">
            <div class="row">
                <div id="top-left" class="col-sm-2">
                    
                    <div class="hover-container">
                        <ul id="top-menu" class="hover-item">
                            <li>
                                <a class="ssm-toggle-nav glyphicon glyphicon-menu-hamburger"></a>
                            </li>
                            @*Refresh*@
                            <li>
                                <a class="glyphicon glyphicon-repeat" ng-show="vm.settings.showBackgroundPhoto" ng-click="vm.fadeAndRefresh()"></a>
                            </li>
                            <li>
                                <a ng-click="vm.settings.showTodo = !vm.settings.showTodo" class="fa fa-tasks"></a>
                            </li>
                        </ul>
                    </div>

                    <sidebar class="semi-transparent"></sidebar>
                    <div class="ssm-overlay ssm-toggle-nav"></div>
                </div>
                <div id="top-center" class="col-sm-8 text-center">
                    <div class="text-danger" ng-show="vm.errorMessage"><span ng-bind="vm.errorMessage"></span></div>
                </div>
                <div id="top-right" class="col-sm-2 text-right">
                    <div class="hover-container">
                        <ul id="top-menu" class="hover-item">
                            @*Settings*@ 
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown"></a>
                                    <settings class="dropdown-menu dropdown-menu-right semi-transparent"></settings>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        
        <todo ng-show="vm.settings.showTodo" x-settings="vm.settings.todo" class="semi-transparent"></todo>

        <div class="vertical-center">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <div class="hover-container">
                        <div id="timers" ng-show="vm.settings.showTimers">
                            <clock format="vm.settings.clockFormat" ng-show="vm.settings.activeTimer=='clock'">
                            </clock>
                            <pomodoro x-total="vm.settings.pomodoroTotal"
                                      x-pomodoro-time="vm.settings.pomodoroTime"
                                      x-short-break="vm.settings.pomodoroShortBreak"
                                      x-long-break="vm.settings.pomodoroLongBreak"
                                      x-task-description="vm.settings.pomodoroTaskDescription"
                                      x-task-placeholder="vm.settings.pomodoroTaskPlaceholder"
                                      x-volume-on="vm.settings.volumeOn"
                                      ng-show="vm.settings.activeTimer=='pomodoro'">
                            </pomodoro>
                            <timer x-minutes-selection="vm.settings.timerMinutesSelection"
                                   x-seconds-selection="vm.settings.timerSecondsSelection"
                                   x-volume-on="vm.settings.volumeOn"
                                   ng-show="vm.settings.activeTimer=='timer'">
                            </timer>
                            <stopwatch ng-show="vm.settings.activeTimer=='stopwatch'" x-reset="vm.stopwatchReset">
                            </stopwatch>
                            <countdown
                                x-settings="vm.settings.countdown"
                                ng-show="vm.settings.activeTimer=='countdown'">
                            </countdown>
                        </div>
                        <greeting></greeting>
                        <focus></focus>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="container-fluid navbar-fixed-bottom ">
            <div class="row">
                <div id="bottom-left" class="col-sm-2 ">
                    <photo ng-show="vm.settings.showBackgroundPhoto"></photo>
                </div>

                <div id="bottom-center" class="col-sm-8 text-center">
                    <quote ng-show="vm.settings.showQuote"></quote>
                </div>

                <div id="bottom-right" class="col-sm-2 text-right">
                    <weather ng-show="(vm.dashboard.weather != null) && vm.settings.showWeather"></weather>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-audio/app/scripts/../../app/angular.audio.js"></script>
    <script src="~/lib/screenfull/dist/screenfull.js"></script>
    <script src="~/lib/angular-screenfull/dist/angular-screenfull.min.js"></script>
    <script src="~/lib/angular-audio/app/scripts/../../app/angular.audio.js"></script>
    <script src="~/lib/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/slide-and-swipe-menu/jquery.slideandswipe.min.js"></script>
    <script src="~/lib/ngstorage/ngStorage.min.js"></script>
    <script src="~/lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="~/lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <script src="~/lib/ng-sortable/dist/ng-sortable.min.js"></script>
    <script src="~/lib/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
    <script src="~/js/google-analytics.js"></script>

    <environment names="Development">
        <script src="~/js/dashboard-app.js"></script>
        <script src="~/js/dashboardcontroller.js"></script>
        <script src="~/app/settings/settings.js"></script>
        <script src="~/app/sidebar/sidebar.js"></script>
        <script src="~/js/contenteditable.js"></script>
        <script src="~/app/weather/weather.js"></script>
        <script src="~/app/quote/quote.js"></script>
        <script src="~/app/photo/photo.js"></script>
        <script src="~/app/focus/focus.js"></script>
        <script src="~/app/greeting/greeting.js"></script>
        <script src="~/app/clock/clock.js"></script>
        <script src="~/app/pomodoro/pomodoro.js"></script>
        <script src="~/app/timer/timer.js"></script>
        <script src="~/app/countdown/countdown.js"></script>
        <script src="~/app/stopwatch/stopwatch.js"></script>
        <script src="~/app/todo/todo.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/site.min.js"></script>
    </environment>
</body>
</html>
