<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thalia</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
        <link href="~/lib/weather-icons/css/weather-icons.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body style="border: 2px solid black;" class="photo-background">
<!--<div id="photo-background" class="container-fluid"></div>-->

<header id="header" class="container-fluid navbar-fixed-top ">
    <div class="row">
        <div id="top-left" class="col-sm-2">
            <div>
                <a href="#">LEFT</a>
            </div>
        </div>
        <div id="top-center" class="col-sm-8 box text-center">
            <div>
                <a href="#">CENTER</a>
            </div>
        </div>
        <div id="top-right" class="col-sm-2 box text-right">
            <div>
                <a href="#">RIGHT</a>
            </div>
        </div>
    </div>
</header>

<div class="vertical-center">
    <div class="container">
        <div class="col-sm-12 box text-center">
            <div>
                <div id="time" class="main-color">
                    <a href="#" class="main-color">2:27</a>
                </div>
                <div id="greeting" class="main-color">
                    <a href="#" class="main-color">Good afternoon, Vasileios</a>
                </div>

                    @RenderBody()
                    
                </div>
        </div>
    </div>
</div>

<footer id="footer" class="container-fluid navbar-fixed-bottom ">
    <div class="row">
        <div id="bottom-left" class="col-sm-2 box">
            <div id="photo" class="main-color" >
                <a href="#" class="main-color shadow hover-item">Machu Picchu, Peru</a>
            </div>
        </div>
        <div id="bottom-center" class="col-sm-8 box text-center">
            <div id="quote" class="main-color">
                <a href="#" class="main-color shadow">"Don't let perfection become procrastination. Do it now." </a>
            </div>
        </div>
        <div id="bottom-right" class="col-sm-2 box text-right">
            <div id="weather" class="main-color">
                <span id="weather-icon">
                    <i class="wi wi-cloud"></i>
                </span>
                <span id="weather-temperature">
                    26 <i class="wi wi-celsius"></i>
                </span>
                <div id ="weather-location">
                    Werribee
                </div>
            </div>
        </div>
    </div>
</footer>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
