html {
    position: relative;
    min-height: 100%;    
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}

.main {
    height: 100%;
}

/* http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */
.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}
.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}
.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    z-index: 100;
}

#footer {
    z-index: 100;
    padding: 20px;
}

.photo-background{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.well {
   background-color: rgba(0, 0, 0, 0.15);
   border: none;
   width: 20%;
   margin: 0;
}

.well2 {
    border: 1px solid red;
  
   width: 70%;
   margin: 0;
}

#top-left {
 
}

#top-center {
 
}

#top-right {
 
}

#bottom-center {
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;     
}

#bottom-right {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

/*http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css*/
#bottom-left {
    height: 80px;
    display: flex;
    justify-content:flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

.hover-container {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.hover-item  a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.hover-container:hover .hover-item a {
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.main-color, .main-color:hover, .main-color:focus {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}
.main-color:hover, .main-color:focus {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

#photo  {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1em;
}

#weather-icon {
    font-size: 1.5em;   
}

#weather-temperature {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;     
    font-size: 1.5em;   
}

#weather-location {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1em;
}

#time {
    font-size: 8em;      
}

#greeting {
    font-size: 3.5em;      
}

#focus {
    margin-top: 80px;
    font-size: 2.5em;      
}

#answerContainer {
    padding: 25px;
    width: 200px;
}

#name, #question, #answer {
    border: 2px solid #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px;
}

#name:hover, #question:hover, #answer:hover {
    border: 2px solid #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.85);
    padding: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

#quote {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1.3em;
}

/* overwriting bootstrap */
.popover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}
.popover > .arrow {
    display: none;
}
