<nav class="nav">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="http://www.tomataboard.com"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
        <li><a href="#" ng-click="vm.showTimer('clock')"><span class="icon-time"></span>&nbsp;Clock</a></li>
        <li><a href="#" ng-click="vm.showTimer('timer')"><span class="icon-hourglass"></span>&nbsp;Timer</a></li>
        <li><a href="#" ng-click="vm.showTimer('stopwatch')"><span class="icon-chronometer"></span>&nbsp;Stopwatch Timer</a></li>
        <li><a href="#" ng-click="vm.showTimer('pomodoro')"><span class="icon-tomato-icon"></span>&nbsp;Pomodoro Timer</a></li>
        <li><a href="#" ng-click="vm.showTimer('countdown')"><span class="icon-calendar"></span>&nbsp;Countdown</a></li>
    </ul>
</nav>