@using Tomataboard.Services
@{
    var token = ViewData["Token"] as OauthToken;
}

<table class="table">
    <thead>@ViewData["Title"]</thead>
    <tbody>
        <tr>
            <td>
                @if (token == null)
                {
                    @Html.ActionLink("Authenticate", "Authenticate");
                }
                else
                {
                    if (token.IsExpired)
                    {
                        <h3>Service is authenticated but token has expired</h3>
                        @Html.ActionLink("Refresh access token", "Refresh");
                    }
                    else
                    {
                        <h3>Service is authenticated</h3>
                        @Html.ActionLink("Execute", "Execute");
                    }
                }
            </td>
        </tr>
    </tbody>
</table>