<div id="countdown" class="timer-container hover-item" ngsf-fullscreen>
    <div>
        <table class="table time">
            <tr>
                <td class="times"><span ng-bind="time.days"></span></td>
                <td class="times"><span ng-bind="time.hours"></span></td>
                <td class="times"><span ng-bind="time.minutes"></span></td>
                <td class="times"><span ng-bind="time.seconds"></span></td>
                <td style="vertical-align: middle;"><span id="fullscreen-button" ngsf-toggle-fullscreen class="fa fa-arrows-alt show-on-hover"></span></td>
            </tr>
            <tr class="legends">
                <td>DAYS</td>
                <td>HOURS</td>
                <td>MINUTES</td>
                <td>SECONDS</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

    <div class="form-group description">
        <div class="editable" contenteditable ng-model="settings.eventDescription" spellcheck="false"
             defaultvalue="{{settings.eventPlaceholder}}"></div>
    </div>
    
    <div class="buttons row form-group fade-out" ng-show="!promise">
        <form class="form-inline" role="form">
            <button type="button" ng-click="start()" class="btn btn-warning"><span ng-bind="startText"></span></button>&nbsp;
            &nbsp;&nbsp;
    
            <div class="form-group">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control semi-transparent" data-ng-model="settings.endDate" id="endDate">
                            <span class="input-group-addon semi-transparent"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu semi-transparent" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="settings.endDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>

            </div>
        </form>
    </div>
</div>

