#todo {
    width: 500px;
    padding: 10px;
    z-index: 1;
    position: absolute;
    left:20px;
    top: 60px;
    right:0;
    max-height: 540px;
    overflow-y: auto;
}

#todo-text {
 
}

#todo-text input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;       
    font-weight: 300;
    border: none;
}

#todo input:hover {
    border: none;
}
 

.done-true {
    text-decoration: line-through;
    color: grey;
}

#todo #todo-empty {
    margin-top: 20px;  
    text-align: center;
} 

#todo #todo-empty span {
    text-align: center;
    font-size: 5em;   
} 

#todo #todo-empty div {
    text-align: center;
    font-size: 1.5em;   
} 

#todo #todo-empty div.line2 {
    padding-bottom: 20px;  
} 

#todo-remainding {
    margin-top: 15px;  
}

#todo-pills .active a {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}