<div id="todo">
    <form role="form" ng-submit="addTodo()">
        <div id="todo-text" class="form-group semi-transparent">
            <input type="text" ng-model="todoText" placeholder="Add new todo here"
                   class="form-control semi-transparent main-color"/>
        </div>
        <ul id="todo-pills" class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#tab0" class="secondary-color" ng-click="settings.category = 0">All</a></li>
            <li ng-show="settings.categories[0]"><a data-toggle="pill" href="#tab1" class="secondary-color" ng-click="settings.category = 1">
                <span ng-bind="settings.categories[0]"></span>
            </a></li>
            <li ng-show="settings.categories[1]"><a data-toggle="pill" href="#tab2" class="secondary-color" ng-click="settings.category = 2">
                <span ng-bind="settings.categories[1]"></span>
            </a></li>
            <li ng-show="settings.categories[2]"><a data-toggle="pill" href="#tab3" class="secondary-color" ng-click="settings.category = 3">
                <span ng-bind="settings.categories[2]"></span>
            </a></li>
        </ul>
    </form>
    <div id="todo-empty" ng-show="remaining() == 0">
        <span class="fa fa-smile-o secondary-color"></span>
        <div class="secondary-color">You have no tasks.</div>
        <div class="line2">Please enjoy your day!</div>
    </div>

    <div id="todo-list" ng-show="remaining() > 0">
        <div id="todo-remainding">
            <span ng-bind="remaining()"></span> of <span ng-bind="total()"></span> remaining
        </div>
        <ul id="todos" data-as-sortable="dragControlListeners" class="list-unstyled" ng-model="todos">
            <li class="todoItem" ng-repeat="todo in todos | filter: filter" data-as-sortable-item>
                <div class="todoItem-container">
                    <span class="glyphicon glyphicon-move secondary-color move show-on-hover" ng-show="settings.category == 0" data-as-sortable-item-handle></span>
                    <checkbox ng-model="todo.done"/> 
                    <div class="editable done-{{todo.done}}" contenteditable ng-model="todo.text" defaultvalue="" spellcheck="false"></div>
                    <div class="remove"><a ng-click="remove(todo)" class="fa fa-remove secondary-color show-on-hover"></a></div>
                </div>
            </li>
        </ul>
    </div>
    
    <div id="tab0"></div>
    <div id="tab1"></div>
    <div id="tab2"></div>
    <div id="tab3"></div>
</div>
