#todo {
    width: 500px;
    padding: 10px;
    z-index: 1;
    position: absolute;
    left:20px;
    top: 70px;
    right:0;
    max-height: 540px;
    overflow-y: auto;
}

#todo-text {
}

#todo-text input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    border: none;
}

#todo input:hover {
    border: none;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

#todo #todo-empty {
    margin-top: 20px;
    text-align: center;
}

#todo #todo-empty span {
    text-align: center;
    font-size: 5em;
}

#todo #todo-empty div {
    text-align: center;
    font-size: 1.5em;
}

#todo #todo-empty div.line2 {
    padding-bottom: 20px;
}

#todo-remainding {
    margin-top: 15px;
}

#todo-pills .active a {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}

#todos {
    width: 100%;
}

.todoItem .remove {
    cursor: pointer;
    margin-left: 10px;
    /* align icon right */
    display: block;
    margin-left:auto;
    margin-right:0;
}

.todoItem .move {
    margin-right: 10px;
}

.todoItem .move:hover, .todoItem .move:focus {
    text-decoration: none;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.80);
    outline: 0;
}

.todoItem:hover .show-on-hover {
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
}

.todoItem .editable {
    padding: 4px;
}

.todoItem .editable:hover {
    padding: 4px;
}

.todoItem-container {
    display: flex;
    align-items: center;
}