#settings {
    width: 500px;
    padding: 10px;
}

#pomodoro-settings {
    margin-top: 10px;
}

#pomodoro-settings select {
    width: 120px;
}

#temperatureSettings {
    font-size: 1.5em;
}

#settings h4 {
    margin-bottom: 5px;   
}

#todo-tab h4 {
    margin-bottom: 15px;   
}

.pomodoro-table > thead > tr > th, .pomodoro-table > tbody > tr > th, .pomodoro-table > tfoot > tr > th, .pomodoro-table > thead > tr > td, .pomodoro-table > tbody > tr > td, .pomodoro-table > tfoot > tr > td {
    padding: 0px;
}

#account form {
    display: inline;
}