<div id="settings">
    
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#settings-tab">General</a></li>
        <li><a data-toggle="pill" href="#todo-tab">Todo</a></li>
        <li><a data-toggle="pill" href="#about-tab">About</a></li>
    </ul>

    <div class="tab-content">
        <div id="settings-tab" class="tab-pane fade in active">
            <form role="form">
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.showBackgroundPhoto"/>&nbsp;Show Background Photo
                </div>
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.showTimers" />&nbsp;Show Timers
                </div>
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.greeting.show" />&nbsp;Show Greeting
                </div>
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.showFocus"/>&nbsp;Show Focus
                </div>
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.showQuote"/>&nbsp;Show Quote
                </div>
                <div class="checkbox" ng-show="vm.dashboard.weather != null">
                    <checkbox ng-model="vm.settings.showWeather"/>&nbsp;Show Weather
                </div>

                <h4>Clock Format</h4>
                <label class="radio-inline"><input type="radio" name="timeFormat" value="12-hour" ng-model="vm.settings.clockFormat">12 hour</label>
                <label class="radio-inline"><input type="radio" name="timeFormat" value="24-hour" ng-model="vm.settings.clockFormat">24 hour</label>

                <div ng-show="vm.dashboard.weather != null">
                    <h4>Temperature</h4>
                    <span id="temperatureSettings">
                        <label class="radio-inline"><input type="radio" name="temperatureUnits" value="celsius" ng-model="vm.settings.temperatureUnits"><i class="wi wi-celsius"></i></label>
                        <label class="radio-inline"><input type="radio" name="temperatureUnits" value="fahrenheit" ng-model="vm.settings.temperatureUnits"><i class="wi wi-fahrenheit"></i></label>
                    </span>
                </div>

                <div id="pomodoro-settings">
                    <table class="pomodoro-table table table-borderless">
                        <thead>
                            <tr>
                                <td><label for="pomodoroTime">Pomodoro Time</label></td>
                                <td><label for="pomodoroShortBreak">Short Break</label></td>
                                <td><label for="pomodoroLongBreak">Long Break</label></td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <select class="form-control transparent" id="pomodoroTime"
                                        ng-options="option for option in workCollection track by option"
                                        ng-model="vm.settings.pomodoroTime"></select>
                            </td>
                            <td>
                                <select class="form-control transparent" id="pomodoroShortBreak"
                                        ng-options="option for option in shortBreakCollection track by option"
                                        ng-model="vm.settings.pomodoroShortBreak"></select>
                            </td>
                            <td>
                                <select class="form-control transparent" id="pomodoroLongBreak"
                                        ng-options="option for option in longBreakCollection track by option"
                                        ng-model="vm.settings.pomodoroLongBreak"></select>

                            </td>
                        </tr>
                    </table>
                </div>

                <h4>Greeting</h4>
                <div class="checkbox">
                    <checkbox ng-model="vm.settings.greeting.randomName" />&nbsp;Greet with a random name
                </div>
                <input type="text" class="form-control transparent" 
                       placeholder="{{vm.settings.greeting.namesPlaceholder}}"
                       ng-model="vm.settings.greeting.names"
                       ng-show="vm.settings.greeting.randomName"/>

            </form>
        </div>

        <div id="todo-tab" class="tab-pane fade">
            <h4 class="header">Categories</h4>
            <form role="form">
               <div class="form-group">
                    <input type="text" class="form-control transparent" placeholder="type a todo category"
                           ng-model="vm.settings.todo.categories[0]" id="todoCategory0"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control transparent" placeholder="type a todo category"
                           ng-model="vm.settings.todo.categories[1]" id="todoCategory1"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control transparent" placeholder="type a todo category"
                           ng-model="vm.settings.todo.categories[2]" id="todoCategory2"/>
                </div>
            </form>
        </div>

        <div id="about-tab" class="tab-pane fade" style="text-align: center;">
            <h1>
                <strong><a href="http://www.tomataboard.com">Tomataboard</a></strong>
            </h1>
            <h4>Personal Dashboard 
                <small>
                    v<!-- build:version -->1.0.31<!-- endbuild --> beta
                </small>
            </h4>
            <h4>Your secret weapon to beat procrastination, <br />stay focused and find inspiration.</h4>
            <h5 class="secondary-color">Created by <a href="https://github.com/vasileiossam">VS</a></h5>
            <br />
            <br />

            <h4 class="secondary-color">Power by</h4>
            <h5>
                <a href="https://500px.com">500px</a>
            </h5>
            <h5>
                <a href="https://www.flickr.com/">Flickr</a>
            </h5>
            <h5>
                <a href="http://www.tirolography.com/">Tirolography</a>
            </h5>

            <h5>
                <a href="https://weather.yahoo.com">Yahoo Weather</a>
            </h5>
            <h5>
                <a href="http://forecast.io">Forecast.io</a>
            </h5>
            <h5>
                <a href="http://openweathermap.org/">OpenWeatherMap</a>
            </h5>

            <h5>
                <a href="http://freegeoip.net/">Freegeoip</a>
            </h5>
            <h5>
                <a href="https://dev.maxmind.com/geoip/geoip2/geolite2/">GeoLite2</a>
            </h5>
            <h5>
                <a href="https://www.iplocation.net/">IP Location Finder</a>
            </h5>
        </div>
    </div>
        
   
</div>
