.intro .intro-body .brand-heading {
    font-size: 36px;
}

.contact-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url('../lib/startbootstrap-grayscale/img/downloads-bg.jpg') no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 36px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .contact-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.hide-circle {
    border: 0;
    font-size: 50px;
    margin-top: 0px;
    width: 80px;
    height: 80px;
}