[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    position: relative;
    min-height: 100%;    
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
}

a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
}
a:hover, a:focus {
    text-decoration: none;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.80);
    outline: 0;
}

#loader {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 2.5em;       
    font-weight: bold;
}

#dashboard {
    height: 100%;
}

.dashboardFade {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -ms-opacity: 0.2;
    opacity: 0.2;
}

/* http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */
.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}
.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}
.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    margin-top: 10px;
    z-index: 100;
}

#footer {
    z-index: 99;
}

#photo-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#top-left {
 
}

#top-center {
 
}

#top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

#bottom-center {
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;     
}

#bottom-right {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

/*http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css*/
#bottom-left {
    height: 80px;
    display: flex;
    justify-content:flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

#photo  {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1em;
}

#weather-icon {
    font-size: 1.5em;   
}

#weather-temperature {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;     
    font-size: 1.5em;   
}

#weather-location {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1em;
}

.timer-container {
    margin-bottom: 20px;

    /* to center vertical when in full screen */
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.timer-container span.time {
    font-size: 8em;
}

.timer-container span.ampmMarker {
    font-size: 2.5em;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.4);
}

.timer-container button {
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
}

.timer-container:hover .show-on-hover {
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
}

.hide-arrow {
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none; 
}
/* hides the SELECT arrow from IE10 */
select.hide-arrow::-ms-expand{
  display:none;
}
.transparent option { 
    background-color: rgb(0, 0, 0);
    color: #fbfbfb;
}

.timer-container button:hover, .timer-container button:active:focus, .timer-container button:focus {
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    outline: 0;
}

.time {
    cursor: pointer;  
}

/* pomodoro task and event name */
.form-group.description {
    margin-bottom: 20px;
    font-size: 2.5em;         
}

.buttons .pomodoro-button {
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 0, 0, 0.8);
    background-color: #000000;
    background-color: rgba(255, 0, 0, 0.7);
}

.buttons .pomodoro-button:hover {
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 0, 0, 0.8);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 1);
}

.minutes, .seconds {
    width: 80px;
}

#fullscreen-button {
    cursor: pointer;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.4);
}
#fullscreen-button:hover, #fullscreen-button:focus {
    text-decoration: none;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.80);
    outline: 0;
}

/* this class is added by ngsf-fullscreen */
.fullscreen {
    background: black;    
}

#greeting {
    font-size: 3.5em;
}

#focus {
    margin-top: 40px;
    font-size: 2.5em;      
}

.editable {
    -ms-border-radius: 3px;
    border-radius: 3px;  
    border: 2px solid #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px;
    display: inline-block;
}

.editable:hover {
    padding: 10px;
    -ms-border-radius: 3px;
    border-radius: 3px;  
    border: 2px solid #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.85);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.editable:focus {
    color: #ffffff;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.editable[placeholder]:empty:before {
    padding: 10px;
    content: attr(placeholder);
    margin: 0;
}

#quote {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; 
    font-size: 1.3em;
}

/* overwriting bootstrap */
.popover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}
.popover > .arrow {
    display: none;
}

.text-danger {
    font-weight: bold;
}

#top-menu {
    /* Remove whitespace between the list items */
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#top-menu > li {
    display: inline-block;
}

#top-menu > li > a, #top-menu > li > div > a {
     cursor: pointer;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.5em;
    text-decoration: none;
    -webkit-transition: background .3s ease, text-shadow .3s ease;
    -moz-transition: background .3s ease, text-shadow .3s ease;
    -ms-transition: background .3s ease, text-shadow .3s ease;
    -o-transition: background .3s ease, text-shadow .3s ease;
    transition: background .3s ease, text-shadow .3s ease;
}

#top-menu > li > a:hover, #top-menu > li > div > a:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}

.semi-transparent {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
}

.transparent {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
}

 /**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 280px;
    left: 0;
    top: 0;
    z-index: 150;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
    font-size: 1.5em;
    font-weight: 300;
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 1;
}
nav.nav {
    color: #fff;
}

.nav-pills > li > a:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 1);
}

.hover-container {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.hover-item  a, .timer-container span.time {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.hover-container:hover .hover-item a, .timer-container:hover span.time   {
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.main-color, .main-color:hover, .main-color:focus {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}
.main-color:hover, .main-color:focus {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}
 
.fade-out.ng-hide {
    -ms-opacity: 0;
    opacity: 0;
}

.fade-out.ng-hide-remove,
.fade-out.ng-hide-add {
  display: block !important;
            

}
.fade-out.ng-hide-remove {
    -webkit-transition: all linear 1000ms;
    -moz-transition: all linear 1000ms;
    -ms-transition: all linear 1000ms;
    -o-transition: all linear 1000ms;
    transition: all linear 1000ms;
}

.fade-out.ng-hide-add {
    -webkit-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -ms-transition: all linear 500ms;
    -o-transition: all linear 500ms;
    transition: all linear 500ms;
}

.fade-out.ng-hide  {
      visibility: hidden;
}

#volume {
    cursor: pointer;  
    margin-left: 10px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.4);
}

#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.secondary-color {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.4);
}

#pomodoros-total {
    margin-top: 20px;    
}

.show-on-hover {
    -ms-opacity: 0;
    opacity: 0;
}

/* angular-bootstrap-checkbox */
button.checked {
    outline: none;
}