<div id="stopwatch" class="timer-container hover-item" ngsf-fullscreen>

    <span>
        <span class="time" ng-bind="time"></span>&nbsp;
        <span id="fullscreen-button" ngsf-toggle-fullscreen class="fa fa-arrows-alt show-on-hover"></span>
    </span>

    <div class="buttons fade-out" ng-show="!promise">
        <button type="button" ng-click="start()" class="btn btn-warning" ng-bind="startText"></button>&nbsp;
        <button type="button" ng-click="reset()" class="btn btn-warning">RESET</button>
    </div>
</div>